@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i|Roboto+Mono&display=swap');
@import "../template/mixins";
@import "../template/settings";


// Background of the presentation
$backgroundColor: #272121;

// Primary/body text
$mainFont: 'Montserrat', sans-serif;
$mainFontSize: 42px;
$mainColor: #f6e9e9;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Montserrat', sans-serif;
$headingColor: #e16428;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: 900;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$codeFont: 'Roboto Mono', monospace;

// Links and actions
$linkColor: #13daec;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #c5f0a4;
$selectionColor: #ffffff;

@import "../template/theme";

.reveal blockquote {
  padding: 30px;
}
